<div class="admin-main">
    <form action="" id="form" class="form-x dux-form form-auto" method="post">
    <div class="tab dux-tab">
        <div class="panel dux-box  active">
            <div class="tab-body">
                <div class="tab-panel active">
                    <div class="form-group">
                    <div class="label"><label>开启同步登录：</label></div>
                    <div class="field">
                        <label class="radio-inline" for="config[status]1"><input type="radio" id="config[status]1" class="radio" name="config[status]" value="1" checked >开启</label>
                        <label class="radio-inline" for="config[status]0"><input type="radio" id="config[status]0" class="radio" name="config[status]" value="0" >关闭</label>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="tab dux-tab">
        <div class="panel dux-box  active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>邮件插件信息设置</strong>
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">发信设置</a></li>
                        <li><a href="#tab-2">发信模板</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div id="tab-1" class="tab-panel active">
                    <div class="form-group">
                        <div class="label"><label>邮件发信类型：</label></div>
                        <div class="field">
                            <select name="config[MAIL_SMTP_TYPE]" class="input" >
                                <option value=''>请选择：</option>
                                <option value="1" >内置函数发送</option>
                                <option value="2" selected>SMTP模块发送</option>
                            </select>
                            <div class="input-note">（邮件发信类型）</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label"><label>安全协议类型：</label></div>
                        <div class="field">
                            <select name="config[MAIL_SMTP_SECURE]" class="input" >
                                <option value=''>请选择：</option>
                                <option value="0" selected> 不使用 </option>
                                <option value="ssl" >SSL</option>
                            </select>
                            <div class="input-note">（安全协议类型）</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label"><label>SMTP服务器端口：</label></div>
                        <div class="field">
                            <input type="text" class="input" name="config[MAIL_SMTP_PORT]" value="{$db_config.MAIL_SMTP_PORT}" >
                            <div class="input-note">（普通端口一般为25，SSL端口为465）</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="label"><label>SMTP服务器地址：</label></div>
                        <div class="field">
                            <input type="text" class="input" name="config[MAIL_SMTP_HOST]" value="{$db_config.MAIL_SMTP_HOST}" >
                            <div class="input-note">（邮箱服务器名称[如：smtp.qq.com]）</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label"><label>SMTP服务器用户名：</label></div>
                        <div class="field">
                            <input type="text" class="input" name="config[MAIL_SMTP_USER]" value="{$db_config.MAIL_SMTP_USER}" >
                            <div class="input-note">（SMTP服务器用户名）</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label"><label>SMTP服务器密码：</label></div>
                        <div class="field">
                            <input type="password" class="input" name="config[MAIL_SMTP_PASS]" value="{$db_config.MAIL_SMTP_PASS}" >
                            <div class="input-note">（SMTP服务器密码）</div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-panel">
                    <div class="form-group">
                        <div class="label"><label>默认发信模版：（默认发信模版）</label></div>
                        <div class="field">
                            <textarea class="input js-editor" id="content" name="config[default]" rows="20" >{$db_config.default}</textarea>
                            <div class="input-note"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <input type="hidden" class="form-control input" name="id" value="2" >
                    <button type="submit" class="button bg-main">保存</button>
                    <button type="reset" class="button bg">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    //var content_editor = 'xxxx';
    Do.ready('base', function () {
        //表单综合处理
        //$('#form').duxFormPage();
    }); 
</script>
</div>