
<div class="admin-main">
    <form action="" id="form" class="form-x dux-form form-auto" method="post">
        <div class="panel ">
            <div class="panel-head">
                <strong>百度sitemap</strong>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div class="label">
                        <label>创建sitemap到根目录：</label>
                    </div>
                    <div class="field">
                     <button class="button bg-mix">开始</button>
                    </div>
                </div>

            </div>
        </div>

    </form>
    <script>
  //var content_editor = 'xxxx';
  Do.ready('base', function () {
        //表单综合处理
        $('#form').duxFormPage();

    }); 
</script>
</div>