<div class="admin-main">
    <form action="" id="form" class="form-x dux-form form-auto" method="post">
    <div class="tab dux-tab">
        <div class="panel dux-box  active">
            <div class="tab-body">
                <div id="tab-1" class="tab-panel active">

                    <div class="form-group">
                        <div class="label"><label>所属栏目：</label></div>
                        <div class="field">
	                	<select name="cid" id="select" class="input">
	                  		<option value="0">顶级栏目</option>
	                  		<foreach item="v" name="cates">
                      		<option value="{$v.id}" <if condition="$v['id'] eq $r['cid']">selected="selected"</if>>{$v.name}</option>
  							</foreach>
                      	</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label"><label>栏目名称：</label></div>
                        <div class="field">
                            <input type="text" name="name" datatype="*2-12" class="input input_small" size="60" value="{$r.name}" />
                            <div class="input-note">设置后访问内容会跳转</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label"><label>连接地址：</label></div>
                        <div class="field">
                            <input type="text" name="url" class="input input_big" size="60" value="{$r.url}"/>
                            <div class="input-note">设置后访问内容会跳转</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="label"><label>排序：</label></div>
                        <div class="field">
                            <input type="text" name="orders" class="input input_small" size="60" value="{$r.orders}" />
                            <div class="input-note">设置后访问内容会跳转</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="label"><label>显示：</label></div>
                        <div class="field button-group button-group-small radio">
                        <if condition="$r['isview'] eq 1">
                            <label class="button active"><input type="radio" value="1" name="isview" checked="checked">
                        <else />
                            <label class="button"><input type="radio" value="1" name="isview">
                        </if>
                            <span class="icon icon-check"></span> 启用</label>
                        <if condition="$r['isview'] eq 0">
                            <label class="button active"><input type="radio" value="0" name="isview" checked="checked">
                        <else />
                            <label class="button"><input type="radio" value="0" name="isview">
                        </if>
                            <span class="icon icon-times"></span> 禁用</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>栏目关键词</label>
                        </div>
                        <div class="field">
                            <input type="text"  value="{$r.keywords}" size="60" name="keywords" id="keywords" class="input">
                            <div class="input-note">当前栏目的关键词</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label for="sitename">栏目描述</label>
                        </div>
                        <div class="field">
                            <textarea cols="62" rows="3" name="description" id="description" class="input">{$v.description}</textarea>
                            <div class="input-note">当前栏目的描述信息</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <input type="hidden" value="{$r.id}" name="id">
                    <button type="submit" class="button bg-main">保存</button>
                    <button type="reset" class="button bg">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        $('#form').duxFormPage();
    });
</script>
</div>
