<div class="admin-main">
    <form action="" id="form" class="form-x dux-form form-auto" method="post">
    <div class="tab dux-tab">
        <div class="panel dux-box  active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>添加标签</strong>
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">基本信息</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div id="tab-1" class="tab-panel active">

                    <div class="form-group">
                        <div class="label">
                            <label>标签</label>
                        </div>
                        <div class="field">
                            <input type="text" value="{$r.name}" datatype="*" size="60" name="name" id="name" class="input">
                            
                            <div class="input-note">标签请不要填写特殊字符</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="label">
                            <label>跳转到</label>
                        </div>
                        <div class="field">
                            <input type="text" value="{$r.url}" size="60" name="url" id="url" class="input">
                            <div class="input-note">设置后访问内容会跳转</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <input type="hidden" value="{$r.tag_id}" id="tag_id" name="tag_id">
                    <button type="submit" class="button bg-main">保存</button>
                    <button type="reset" class="button bg">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
	//var content_editor = 'xxxx';
    Do.ready('base', function () {
        //表单综合处理
        $('#form').duxFormPage();
    }); 
</script>
</div>